/* ------------------------------------------------------------
leaflet map styles and overrides
------------------------------------------------------------ */


/* adjust width and height */

/* #map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
} */


/* top: var(--header-height); */

/* #map {
    flex: 1;
    width: 100%;
} */

#map {
    height: 100%;
}

.polygon-tooltip {
    background-color: #2b2b2b;
    color: #fff;
    border: 1px solid #666;
    border-radius: 50px;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Slab';
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.polygon-tooltip::before {
    border-top-color: #666;
}

.leaflet-interactive:focus {
    outline: none;
}