/* ------------------------------------------------------------
leaflet map styles and overrides
------------------------------------------------------------ */


/* adjust width and height */

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}


/* top: var(--header-height); */

/* #map {
    flex: 1;
    width: 100%;
} */